.selectedNumber{
  margin-right: 0.9em;
  font-size: 1.9em;
  padding:.5em;
  border-radius: 1em;
  margin-bottom: 0.9em;
  float:left;
  cursor: pointer;
}


.selectedNumber-false{
  background-color: lightgrey;
}
